doctype 5
| <!-- HTML5 Mobile Boilerplate -->
| <!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
| <!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->
| <!-- HTML5 Boilerplate -->
| <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
| <!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
| <!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

head
  block head
    //- Meta tags
    meta(charset='utf-8')
	  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    //- Actual content
    script(src="js/modernizr-2.5.3-min.js")
    title= "WeatherBoard"
    link(rel='stylesheet', href='/stylesheets/app.css')
body
  block content
